.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 100%;
}

.principal {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding-left: 75px;
    padding-bottom: 20px;
}

.secundaria {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding-right: 75px;
}

.news-secundaria {
    padding-left: 75px;
}